@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap");

.black {
  position: absolute;
  width: 100%;
  height: 1200px;
  background-color: black;
  top: 180%; /* start position */
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.me {
  background: none;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
}

.quote-container {
  background: none;
  margin-top: 15%;
  margin-left: 20%;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: scaleY(1.2);
  z-index: 2;
}

.quote {
  font-size: 5rem;
  background: none;
  color: white;
  line-height: 1.1;
  overflow: hidden;
}

.img-container {
  background: none;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
}

.about-img {
  width: 250px;
  height: auto;
  filter: grayscale(100%);
  margin-bottom: 20px;
}

.intro {
  background: none;
  font-size: 2rem;

  letter-spacing: 2px;
  opacity: 0;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
}
.exp-container {
  background: none;
  color: white;
  display: flex;
  flex-direction: column;
}
.first {
  background: none;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
  margin-left: 50%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
}
.second {
  margin-top: 2%;
  background: none;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
  margin-left: 55%;
}
