

.text-container {
  position: absolute;
  top: 150%;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: none;
  z-index: 1;
}

.text {
  /* This is now handled by the JS/span structure */
  background: none;
  background-color: transparent;

  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  color: black;
  

  font: 150px "feet", sans-serif;
    font-weight: 700;

     letter-spacing: -15px; 
  z-index: 2;
}

/* * Optional: Also target the individual letters (spans) created by GSAP 
* to ensure no default styles interfere with the transparency 
*/
.text span {
 transform: scaleY(1.2);
  background: none !important;
  background-color: transparent !important;
}
