
.tex-container {
  position: absolute;
  top: 800%;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: none;
  z-index: 1;
}

.tex {
  /* This is now handled by the JS/span structure */
  background: none;
  background-color: transparent;

  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  color: white;
  

  font: 150px "feet", sans-serif;
    font-weight: 700;
     letter-spacing: -15px; 
  z-index: 0;
}

/* * Optional: Also target the individual letters (spans) created by GSAP 
* to ensure no default styles interfere with the transparency 
*/
.tex span {
 transform: scaleY(1.2);
  background: none !important;
  background-color: transparent !important;
}
