@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Keania+One&family=Megrim&family=Saira+Stencil+One&display=swap");

.poster {
  width: 20%;
  height: 100vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Yuji Boku", serif;
  font-weight: 500;
  font-style: normal;
  z-index: 0;
  background: red;
  border-radius: 0px 0px 60px 0px;
}

.poster-text {
  position: relative;
  z-index: 0;
  background: transparent;
}

.poster-text h1 {
  right: 50;
  top: 0;
  font-size: 10rem;
  line-height: 1;
  letter-spacing: 9px;
  display: flex;
  flex-direction: column;
  color: transparent;
  -webkit-text-stroke: 2px black;
}
.poster-text h1:hover {
  scale: 5;
  text-shadow: -40px 15px 0px rgba(0, 0, 0, 1);
  transition: all 1s ease-in-out;
}
h1 {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 999;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: black;
  -webkit-text-stroke: 1px black;
}

.poster-text span {
  display: flex;
  flex-direction: row;
  background: transparent;
}
h2 {
  position: absolute;
  left: 0%;
  top: -30%;
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30rem;
  background: none;
  height: auto;
  width: auto;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0.5;
}
h2 span {
  display: flex;
  flex-direction: row;
  background: transparent;
}

.AKText {
  position: absolute;
  display: flex;
  right: 50%;
  left: 50%;
  color: whitesmoke;
  justify-content: center;
  background: none;
  z-index: 0;
  font-family: "Yuji Boku", serif;
  border-radius: none;
  font-style: normal;
  font-size: 150px;
  font-weight: 100;
}
/*    TEXT 2    */
/* Hide horizontal scroll globally */
body {
  overflow-x: hidden;
}

.carousel-container {
  position: relative;
  width: 100vw;           /* extra width to cover corners after rotation */
     /* half of width to center perfectly */
  
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;          /* adjust as needed */
  max-height: 20vh;

  transform: rotateZ(-10deg);
  transform-origin: center;
  backface-visibility: visible;
  transform-style: preserve-3d;

  background-color: orangered;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border-radius: 0;

  margin-top: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 3;
}

/* Optional hover effect */
.carousel-container:hover {
  transform: rotateZ(-8deg) scale(1.02);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.animated-text {
  display: inline-block;
}
